@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

:root {
  --rtc-primary-color: #f69494;
  --rtc-secondary-color: #d398f7;
  --rtc-tertiary-color: #ffffff;
  --rtc-background-color: #1090cb2d;
}

header {
  margin-bottom: 10px;
  position: fixed;
  width: 100%;
  height: 20vh;
  top: 0;
  left: 0;
  background-color: crimson;
  display: flex;
  justify-content: space-between;
}

.header-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 15px;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
}

header>ul>li {
  color: #ffffff;
  font-size: medium;
  font-weight: bolder;
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  cursor: pointer;
}

.header-image-left,
.header-image-right {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid crimson;
  border-left: 2px solid crimson;
}

body {
  height: 70vh;
  width: 100%;
  margin-top: 20vh;
  margin-bottom: 10vh;
  flex-direction: column;
  display: flex;
}

.hero {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.info {
  font-size: auto;
  padding: 5px;
  width: 50%;
  height: 70svh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.info>h1 {
  margin: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.info>p {
  margin: 10px;
}

.info span {
  color: crimson;
  font-weight: bold;
}

form {
  margin: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
}

form label {
  color: crimson;
  font-weight: bold;
  font-size: large;
}

form input {
  border-radius: 5px;
}

form button {
  background-color: var(--rtc-secondary-color);
  padding: 5px;
  border-radius: 5px;
  padding: 5px 15px;
  cursor: pointer;
}

.hero-img {
  flex: 1;
  display: flex;
  width: 100%;
  height: 70svh;
  object-fit: cover;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 10vh;
  width: 100%;
  background-color: crimson;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer-content {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer-list {
  list-style: none;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
}

.footer-links {
  list-style: none;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

@media (max-width: 950px) {
  .info {
    width: 100%;
    height: auto;
    padding: 10px;
  }

  .info>h1,
  .info>p,
  .info>form {
    width: 100%;
    margin: 5px 0;
    text-align: center;
  }

  .hero {
    flex-direction: column;
    align-items: center;
  }

  .hero-img {
    width: 100%;
    height: auto;
  }

  .hero-img img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}

@media (max-width: 700px) {

  .header-image-left img,
  .header-image-right img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

@media (max-width: 520px) {

  .hero-img {
    height: 40svh;
  }

  .hero-img img {
    object-fit: cover;
  }


  .footer-links {
    justify-content: center;
  }

  .footer-list {
    font-size: small;
  }
}

@media (max-width: 450px) {

  p,
  form {
    font-size: small;
  }
}

@media (max-width: 360px) {
  .footer-links a {
    object-fit: cover;
  }

  .footer-list {
    font-size: 10px;
  }
}