@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

:root {
  --rtc-primary-color: #f69494;
  --rtc-secondary-color: #d398f7;
  --rtc-tertiary-color: #ffffff;
  --rtc-background-color: #1090cb2d;
}

header {
  margin-bottom: 10px;
  position: fixed;
  width: 100%;
  height: 20vh;
  top: 0;
  left: 0;
  background-color: crimson;
  display: flex;
  justify-content: space-between;
}

.header-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 15px;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
}

header>ul>li {
  color: #ffffff;
  font-size: medium;
  font-weight: bolder;
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  cursor: pointer;
}

.header-image-left,
.header-image-right {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid crimson;
  border-left: 2px solid crimson;
}

body {
  height: 70vh;
  width: 100%;
  margin-top: 20vh;
  margin-bottom: 10vh;
  flex-direction: column;
  display: flex;
}

.hero {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.info {
  font-size: auto;
  padding: 5px;
  width: 50%;
  height: 70svh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.info>h1 {
  margin: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.info>p {
  margin: 10px;
}

.info span {
  color: crimson;
  font-weight: bold;
}

form {
  margin: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
}

form label {
  color: crimson;
  font-weight: bold;
  font-size: large;
}

form input {
  border-radius: 5px;
}

form button {
  background-color: var(--rtc-secondary-color);
  padding: 5px;
  border-radius: 5px;
  padding: 5px 15px;
  cursor: pointer;
}

.hero-img {
  flex: 1;
  display: flex;
  width: 100%;
  height: 70svh;
  object-fit: cover;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 10vh;
  width: 100%;
  background-color: crimson;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer-content {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer-list {
  list-style: none;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
}

.footer-links {
  list-style: none;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

@media (max-width: 950px) {
  .info {
    width: 100%;
    height: auto;
    padding: 10px;
  }

  .info>h1,
  .info>p,
  .info>form {
    width: 100%;
    margin: 5px 0;
    text-align: center;
  }

  .hero {
    flex-direction: column;
    align-items: center;
  }

  .hero-img {
    width: 100%;
    height: auto;
  }

  .hero-img img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}

@media (max-width: 700px) {

  .header-image-left img,
  .header-image-right img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

@media (max-width: 520px) {

  .hero-img {
    height: 40svh;
  }

  .hero-img img {
    object-fit: cover;
  }


  .footer-links {
    justify-content: center;
  }

  .footer-list {
    font-size: small;
  }
}

@media (max-width: 450px) {

  p,
  form {
    font-size: small;
  }
}

@media (max-width: 360px) {
  .footer-links a {
    object-fit: cover;
  }

  .footer-list {
    font-size: 10px;
  }
}

/*@media (max-width: px) {
  .info > h1 {
      font-size: 30px;
  }
  .info {
      width: 100%;
      min-width: 0px;
  }
}*/



/*
header {
  position: fixed;
  /*el footer está fijo aunque hagamos scroll
  width: 100%;
  height: 20vh;
  /*20% de la
  top: 0;
  background-color: rgb(160, 35, 60);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  /* Optional shadow for better visibility 
  z-index: 10;
}

.header-image-left,
.header-image-right {
  width: 200px;
  height: auto;
}

.header-list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  gap: 20px;
  background-color: rgb(160, 35, 60);
  flex: 1;
}

.header-list a {
  text-decoration: none;
  color: #ffffff;
}

main {
  flex: 1;
  overflow-y: auto;
  padding-top: 20vh;
  /* Espacio para el header fijo 
  padding-bottom: 10vh;
  /* Espacio para el footer fijo 
  display: flex;
  flex-direction: column;
  align-items: center;
}

html,
body {
  overflow: hidden;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  min-height: 70vh;
}

.hero .info {
  flex: 1;
  padding: 20px;
  font-size: 20px;
  width: 100%;
  max-width: 600px;
  box-sizing: border-box;
}

.hero .info h1 {
  margin-bottom: 20px;
}

.hero .info p {
  margin-bottom: 20px;
}

.hero .info p>span {
  color: var(--rtc-background-color);
}

.hero .form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 100%;
  max-width: 300px;
  box-sizing: border-box;
}

.hero .form input,
.hero .form button {
  width: 100%;
}

.hero .form input {
  padding: 5px;
  width: 100%;
  max-width: 300px;
}

.hero .form button {
  padding: 5px 10px;
  background-color: var(--rtc-primary-color);
  color: var(--rtc-tertiary-color);
  border: none;
  cursor: pointer;
  width: 100%;
  max-width: 100px;
}

.hero img {
  height: auto;
  width: auto;
}

footer {
  height: 10vh;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  background-color: rgb(160, 35, 60);
}

.footer-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.footer-list {
  display: flex;
  gap: 15px;
  
  list-style: none;
 
  padding: 0;
  margin: 0;
}

.footer-links {
  display: flex;
  gap: 30px;
 
}

.footer-links img {
  width: 40px;
  
  height: 40px;

  cursor: pointer;
  
  display: block;
  
}

ul {
  list-style: none;
 
  width: 250px;
}

ul>li {
  font-weight: bolder;
  gap: 30px;
}

@media (max-width: 740px) {
  .header-list {
    gap: 5px;
    flex-direction: column;
  }

  .hero {
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
  }


  .hero .form {
    width: 100%;
  }

  .hero .form input,
  .hero .form button {
    width: 100%;
    max-width: none;
  }

  footer {
    height: auto;
    padding: 20px;
  }
}

*/

/* 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    list-style-type: none;
    gap: 20px;
}

ul > li {
    flex-basis: 350px;
    flex-grow: 1;
}

ul > li > img {
    width: 100%;
}


body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    min-height: 100vh;
}

.container {
    min-height: 80vh;
    display: flex;
    justify-content: space-between;
}

header, footer {
    height: 10vh;
    background-color: crimson;
}

main {
    flex: 2;
    background-color: green;
}

nav, aside {
    flex: 1;
}

@media screen and (max-width: 700px) {
    .container {
        flex-direction: column;
    }

    main, nav, aside {
        flex: auto;
    }
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

:root {
    --rtc-primary-color: #1090CB;
    --rtc-secondary-color: #000000;
    --rtc-teritiary-color: #FFFFFF;
    --rtc-background-color: #1090cb2b;
}

#hero {
    background-color: var(--rtc-background-color);
    display: flex;
    align-items: center;
    min-height: 100svh;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 50px;
}

 izquierda
.info {
  width: 40%;
  min-width: 516px;
}

/* derecha
#hero > img {
  width: 30%;
  max-width: 500px;
  min-width: 300px;
}

.info > h1 {
  font-size: 40px;
}

.info > h1 > span {
  color: var(--rtc-primary-color);
}

.buttons {
  display: flex;
  margin-top: 30px;
  gap: 30px;
}

button {
  border-radius: 10px;
  padding: 15px 25px;
  cursor: pointer;
  border: none;
}

.buttons > button:first-child {
  background-color: var(--rtc-primary-color);
  color: var(--rtc-teritiary-color);
  border: 1px solid var(--rtc-primary-color);
}

.buttons > button:last-child {
  background-color: var(--rtc-teritiary-color);
  color: var(--rtc-primary-color);
  border: 1px solid var(--rtc-primary-color);
}

@media (max-width: 570px) {
  .info > h1 {
      font-size: 30px;
  }
  .info {
      width: 100%;
      min-width: 0px;
  }
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border: 2px solid black;
}

.form-group {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-bottom: 5px;
}

.form-group > input {
    padding: 8px;
    border: 2px solid black;
    border-radius: 5px;
}

.form-group > button {
    padding: 8px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: blue;
    color: white;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    padding: 50px;
    justify-content: space-around;
    gap: 50px;
    flex-wrap: wrap;
    background-color: antiquewhite;
}

ul {
    list-style: none;
    width: 250px;
}

ul > li:first-child {
    font-weight: bolder;
}

*/